---
import { site } from '../data/site';
---
<section id="sobre-mi" class="about section" style="background: var(--cream);" aria-labelledby="about-heading">
  <div class="container about__inner">
    <div class="about__image">
      <img
        src={site.about.image}
        alt={site.about.imageAlt}
        width="500"
        height="600"
        loading="lazy"
      />
    </div>
    <div class="about__text">
      <h2 id="about-heading">Soy <em>{site.about.heading}</em>.</h2>
      {site.about.paragraphs.map(p => (
        <p set:html={p.replace('\n', '<br />')} />
      ))}
    </div>
  </div>
</section>