---
import { galleryImages } from '../data/gallery';
import { site } from '../data/site';
---

<section id="galeria" class="gallery section" aria-labelledby="gallery-heading">
  <div class="container">
    <h2 id="gallery-heading" class="section__title">Galería</h2>

    <ul class="gallery__grid" role="list">
      {galleryImages.map(img => (
        <li>
          <img
            src={img.src}
            alt={img.alt}
            width="400"
            height="260"
            loading="lazy"
          />
        </li>
      ))}
    </ul>

    <div class="gallery__cta">
      <p>¿Quieres volver a moverte sin dolor?</p>
      <a href={site.bookingUrl} class="btn btn--primary">Reservar ahora</a>
    </div>
  </div>
</section>
