---
import { site } from '../data/site';
---
<section class="how section section--alt" aria-labelledby="how-heading">
  <div class="container">
    <h2 id="how-heading" class="section__title">{site.howItWorks.heading}</h2>
    <ol class="how__steps">
      {site.howItWorks.steps.map(step => (
        <li class="how__step">
          <span class="how__number" aria-hidden="true">{step.number}</span>
          <h3 class="how__step-title">{step.title}</h3>
          <p class="how__step-desc">{step.description}</p>
        </li>
      ))}
    </ol>
  </div>
</section>